<!DOCTYPE html>
<html>
<%- include('../partials/header')%>

    <body>
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <%- include('../partials/navbar')%>
            <%- include('../partials/sidebar')%>
                <div class="main-content">
                    <div class="page-content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                      
                                    <div class="page_heading" >
                                            <h4 class="card-title">Pets List</h4>
                                        
                                          <a style="background-color: #37c1f8; float: right;" href="/pet/create" class="btn btn-primary waves-effect waves-light">Add Pets</a>
                                        </div>
                                       
                                        
                                        <div class="scroll_t">
    <table  class="table  dt-responsive nowrap dataTable" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead>
            <tr>
                <th >#</th>
                <th >Name</th>
                <th >Owner Name</th>
                <th >Age</th>
                <th >Gender</th>
                <th >Image</th>
                <th >Actions</th>
            </tr>
        </thead>
                                                <tbody>
                                                    <% 
                                                    let count = 1;
                                                    pets.forEach((pet) => { %>
                        
                                                    <tr id="tr_<%pet.id%>">
                                                        <td><%= count %></td>
                                                        <td><%= pet.name %></td>
                                                        <td><%= pet.user.name %></td>

                                                        <td><%= pet.age %></td>
                                                        <%if(pet.gender==1){ %>
                                                        <td>Male</td>
                                                        <%}else{%>
                                                            <td>Female</td>

                                                            <%}%>

                                                        <td>
                                                            <% if(pet.image != ''){ %>
                                                                <img src="/assets/images/pets/<%=pet.image%>" style="width: 50px; height: 50px;border-radius: 2px;" class="rounded-circle player-img" alt="">
                                                                <% } else { %>
                                                                    <img src="/assets/images/pets/dogpic.png" style="width: 50px; height: 50px;border-radius: 2px;" class="rounded-circle player-img" alt="">
                                                                    <% } %>
                                                        </td>
                                                                   
                                                                    <td>
                                                                        <a href="/pet/view/<%= pet.id %>"><i class="ti-eye"></i></a>
                                                                            <a href="/pet/edit/<%= pet.id %>"><i class="ti-pencil"></i></a>
                                                                            <a ><i class=" ti-trash delete" data-table="pets" data-id="<%=pet.id%>" style="color: red;"></i></a>
                                                                    </td>
                                                                    </tr>
                        
                                                                    <% count++  }) %>
                        
                                            </tbody>
                                            </table>
    </div>
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </body>
    <%- include('../partials/footer')%>
   
</html>